<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%let stringToNum = messages.map(Number);%>
    <%let mul = 1;%>
    <%for(let i=0 ; i < stringToNum.length; i++){%>
        <%mul = mul * stringToNum[i];%>
      <%}%>
      <%=mul;%>

  </body>
</html>
